@charset 'UTF-8';

/* mobile device */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: yellow;
  margin: 0;
  display: flex;
}
h2 {
  font-size: 10em;
}
p {
   font-size:10em;
}
/* style resource */
.rwd {
  max-width: 100%;
  /* max-height: vh; */
}
.block {
  display: block;
}

/* body start */
.container{
  position: relative;
}

/* header start */
.gnb {
  background-color: skyblue;
  box-shadow : 5px 5px 5px 5px rgba(0, 0, 0, 0.5) ;
  padding: 8px;
}
.header {
  font-size: 46px;
  color: #111;
  margin: 8px;
}
.btn_container {
  display: flex;
  justify-content: flex-end;
}
.work {
  color: #fff;
  margin: 0 16px;
}
.about {
  color: #fff;
  margin: 0 16px;
}
/* header end */

/* main start */
.wrapper {
  /* main */
  display: flex;
  flex-direction: column;
}
/* intro start */
.intro {
  background-color: green;
  /* position: relative; */
}
.intro_context {
  color: #225;
}
/* intro end */

.divider {
  background-color: #faf;
  position: relative;
  height: 100px;
}
.divider_context {
  justify-items: flex-end;
  position: absolute;
  bottom: 8px;
  right: 20px;       
}
/* list start */
.card {
  background-color: greenyellow;
  min-width: 240px;
  /* max-width: 30vh;  */
  margin: 16px;
}
.card1_img {
  background-color: rgb(166, 64, 255);
}
.text-1 {
  background-color: pink;
  padding: 8px 0 4px 0;
}
.text-2 {
  background-color: red;
}
/* card end */

/* footer start */
.footer {
  background-color: blue;
  position: fixed absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
}
.copyright {
  position: fixed;
  bottom: 8px;
  left: 20px;
  width: 100%;
}
.youtube {
  background-color: #ccf;
}
.instagram {
  background-color: #aaf;
}
.mail {
  background-color: #55f;
}
/* footer end */
